<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Województwa</key>
	<dict>
		<key>Dolnośląskie</key>
		<dict>
			<key>wyr</key>
			<array>
				<string>D</string>
				<string>V</string>
			</array>
			<key>bolesławiecki</key>
			<array>
				<string>DBL</string>
			</array>
			<key>dzierżoniowski</key>
			<array>
				<string>DDZ</string>
			</array>
			<key>głogowski</key>
			<array>
				<string>DGL</string>
			</array>
			<key>górowski</key>
			<array>
				<string>DGR</string>
			</array>
			<key>jaworski</key>
			<array>
				<string>DJA</string>
			</array>
			<key>kamiennogórski</key>
			<array>
				<string>DKA</string>
			</array>
			<key>karkonoski</key>
			<array>
				<string>DJE</string>
			</array>
			<key>kłodzki</key>
			<array>
				<string>DKL</string>
			</array>
			<key>legnicki</key>
			<array>
				<string>DLE</string>
			</array>
			<key>lubański</key>
			<array>
				<string>DLB</string>
			</array>
			<key>lubiński</key>
			<array>
				<string>DLU</string>
			</array>
			<key>lwówecki</key>
			<array>
				<string>DLW</string>
			</array>
			<key>milicki</key>
			<array>
				<string>DMI</string>
			</array>
			<key>oleśnicki</key>
			<array>
				<string>DOL</string>
			</array>
			<key>oławski</key>
			<array>
				<string>DOA</string>
			</array>
			<key>polkowicki</key>
			<array>
				<string>DPL</string>
			</array>
			<key>średzki</key>
			<array>
				<string>DSR</string>
			</array>
			<key>strzeliński</key>
			<array>
				<string>DST</string>
			</array>
			<key>świdnicki</key>
			<array>
				<string>DSW</string>
			</array>
			<key>trzebnicki</key>
			<array>
				<string>DTR</string>
			</array>
			<key>wałbrzyski</key>
			<array>
				<string>DBA</string>
			</array>
			<key>wołowski</key>
			<array>
				<string>DWL</string>
			</array>
			<key>wrocławski</key>
			<array>
				<string>DWR</string>
			</array>
			<key>ząbkowicki</key>
			<array>
				<string>DZA</string>
			</array>
			<key>zgorzelecki</key>
			<array>
				<string>DZG</string>
			</array>
			<key>złotoryjski</key>
			<array>
				<string>DZL</string>
			</array>
			<key>Jelenia Góra</key>
			<array>
				<string>DJ</string>
			</array>
			<key>Legnica</key>
			<array>
				<string>DL</string>
			</array>
			<key>Wałbrzych</key>
			<array>
				<string>DB</string>
			</array>
			<key>Wrocław</key>
			<array>
				<string>DW</string>
				<string>DX</string>
			</array>
		</dict>
		<key>Kujawsko Pomorskie</key>
		<dict>
			<key>wyr</key>
			<array>
				<string>C</string>
			</array>
			<key>aleksandrowski</key>
			<array>
				<string>CAL</string>
			</array>
			<key>brodnicki</key>
			<array>
				<string>CBR</string>
			</array>
			<key>bydgoski</key>
			<array>
				<string>CBY</string>
			</array>
			<key>chełmiński</key>
			<array>
				<string>CCH</string>
			</array>
			<key>golubsko-dobrzyński</key>
			<array>
				<string>CGD</string>
			</array>
			<key>grudziądzki</key>
			<array>
				<string>CGR</string>
			</array>
			<key>inowrocławski</key>
			<array>
				<string>CIN</string>
			</array>
			<key>lipnowski</key>
			<array>
				<string>CLI</string>
			</array>
			<key>mogileński</key>
			<array>
				<string>CMG</string>
			</array>
			<key>nakielski</key>
			<array>
				<string>CNA</string>
			</array>
			<key>radziejowski</key>
			<array>
				<string>CRA</string>
			</array>
			<key>rypiński</key>
			<array>
				<string>CRY</string>
			</array>
			<key>sępoleński</key>
			<array>
				<string>CSE</string>
			</array>
			<key>świecki</key>
			<array>
				<string>CSW</string>
			</array>
			<key>toruński</key>
			<array>
				<string>CTR</string>
			</array>
			<key>tucholski</key>
			<array>
				<string>CTU</string>
			</array>
			<key>wąbrzeski</key>
			<array>
				<string>CWA</string>
			</array>
			<key>włocławski</key>
			<array>
				<string>CWL</string>
			</array>
			<key>żniński</key>
			<array>
				<string>CZN</string>
			</array>
			<key>Bydgoszcz</key>
			<array>
				<string>CB</string>
			</array>
			<key>Grudziądz</key>
			<array>
				<string>CG</string>
			</array>
			<key>Toruń</key>
			<array>
				<string>CT</string>
			</array>
			<key>Włocławek</key>
			<array>
				<string>CW</string>
			</array>
		</dict>
		<key>Lubelskie</key>
		<dict>
			<key>wyr</key>
			<array>
				<string>L</string>
			</array>
			<key>bialski</key>
			<array>
				<string>LBI</string>
			</array>
			<key>biłgorajski</key>
			<array>
				<string>LBL</string>
			</array>
			<key>chełmski</key>
			<array>
				<string>LCH</string>
			</array>
			<key>hrubieszowski</key>
			<array>
				<string>LHR</string>
			</array>
			<key>janowski</key>
			<array>
				<string>LJA</string>
			</array>
			<key>krasnostawski</key>
			<array>
				<string>LKS</string>
			</array>
			<key>kraśnicki</key>
			<array>
				<string>LKR</string>
			</array>
			<key>lubartowski</key>
			<array>
				<string>LLB</string>
			</array>
			<key>lubelski</key>
			<array>
				<string>LUB</string>
			</array>
			<key>łęczyński</key>
			<array>
				<string>LLE</string>
			</array>
			<key>łukowski</key>
			<array>
				<string>LLU</string>
			</array>
			<key>opolski</key>
			<array>
				<string>LOP</string>
			</array>
			<key>parczewski</key>
			<array>
				<string>LPA</string>
			</array>
			<key>puławski</key>
			<array>
				<string>LPU</string>
			</array>
			<key>radzyński</key>
			<array>
				<string>LRA</string>
			</array>
			<key>rycki</key>
			<array>
				<string>LRY</string>
			</array>
			<key>świdnicki</key>
			<array>
				<string>LSW</string>
			</array>
			<key>tomaszowski</key>
			<array>
				<string>LTM</string>
			</array>
			<key>włodawski</key>
			<array>
				<string>LWL</string>
			</array>
			<key>zamojski</key>
			<array>
				<string>LZA</string>
			</array>
			<key>Biała Podlaska</key>
			<array>
				<string>LB</string>
			</array>
			<key>Chełm</key>
			<array>
				<string>LC</string>
			</array>
			<key>Lublin</key>
			<array>
				<string>LU</string>
			</array>
			<key>Zamość</key>
			<array>
				<string>LZ</string>
			</array>
		</dict>
		<key>Lubuskie</key>
		<dict>
			<key>wyr</key>
			<array>
				<string>F</string>
			</array>
			<key>gorzowski</key>
			<array>
				<string>FGW</string>
			</array>
			<key>krośnieński</key>
			<array>
				<string>FKR</string>
			</array>
			<key>międzyrzecki</key>
			<array>
				<string>FMI</string>
			</array>
			<key>nowosolski</key>
			<array>
				<string>FNW</string>
			</array>
			<key>słubicki</key>
			<array>
				<string>FSL</string>
			</array>
			<key>strzelecko-drezdenecki</key>
			<array>
				<string>FSD</string>
			</array>
			<key>sulęciński</key>
			<array>
				<string>FSU</string>
			</array>
			<key>świebodziński</key>
			<array>
				<string>FSW</string>
			</array>
			<key>wschowski</key>
			<array>
				<string>FWS</string>
			</array>
			<key>zielonogórski</key>
			<array>
				<string>FZI</string>
			</array>
			<key>żagański</key>
			<array>
				<string>FZG</string>
			</array>
			<key>żarski</key>
			<array>
				<string>FZA</string>
			</array>
			<key>Gorzów Wielkopolski</key>
			<array>
				<string>FG</string>
			</array>
			<key>Zielona Góra</key>
			<array>
				<string>FZ</string>
			</array>
		</dict>
		<key>Łódzkie</key>
		<dict>
			<key>wyr</key>
			<array>
				<string>E</string>
			</array>
			<key>bełchatowski</key>
			<array>
				<string>EBE</string>
			</array>
			<key>brzeziński</key>
			<array>
				<string>EBR</string>
			</array>
			<key>kutnowski</key>
			<array>
				<string>EKU</string>
			</array>
			<key>łaski</key>
			<array>
				<string>ELA</string>
			</array>
			<key>łęczycki</key>
			<array>
				<string>ELE</string>
			</array>
			<key>łowicki</key>
			<array>
				<string>ELC</string>
			</array>
			<key>łódzki wschodni</key>
			<array>
				<string>ELW</string>
			</array>
			<key>opoczyński</key>
			<array>
				<string>EOP</string>
			</array>
			<key>pabianicki</key>
			<array>
				<string>EPA</string>
			</array>
			<key>pajęczański</key>
			<array>
				<string>EPJ</string>
			</array>
			<key>piotrkowski</key>
			<array>
				<string>EPI</string>
			</array>
			<key>poddębicki</key>
			<array>
				<string>EPD</string>
			</array>
			<key>radomszczański</key>
			<array>
				<string>ERA</string>
			</array>
			<key>rawski</key>
			<array>
				<string>ERW</string>
			</array>
			<key>sieradzki</key>
			<array>
				<string>ESI</string>
			</array>
			<key>skierniewicki</key>
			<array>
				<string>ESK</string>
			</array>
			<key>tomaszowski</key>
			<array>
				<string>ETM</string>
			</array>
			<key>wieluński</key>
			<array>
				<string>EWI</string>
			</array>
			<key>wieruszowski</key>
			<array>
				<string>EWE</string>
			</array>
			<key>zduńskowolski</key>
			<array>
				<string>EZD</string>
			</array>
			<key>zgierski</key>
			<array>
				<string>EZG</string>
			</array>
			<key>Łódź</key>
			<array>
				<string>EL</string>
				<string>ED</string>
			</array>
			<key>Piotrków Trybunalski</key>
			<array>
				<string>EP</string>
			</array>
			<key>Skierniewice</key>
			<array>
				<string>ES</string>
			</array>
		</dict>
		<key>Małopolskie</key>
		<dict>
			<key>wyr</key>
			<array>
				<string>K</string>
				<string>J</string>
			</array>
			<key>bocheński</key>
			<array>
				<string>KBC</string>
			</array>
			<key>brzeski</key>
			<array>
				<string>KBR</string>
			</array>
			<key>chrzanowski</key>
			<array>
				<string>KCH</string>
			</array>
			<key>dąbrowski</key>
			<array>
				<string>KDA</string>
			</array>
			<key>gorlicki</key>
			<array>
				<string>KGR</string>
			</array>
			<key>krakowski</key>
			<array>
				<string>KRA</string>
				<string>KRK</string>
			</array>
			<key>limanowski</key>
			<array>
				<string>KLI</string>
			</array>
			<key>miechowski</key>
			<array>
				<string>KMI</string>
			</array>
			<key>myślenicki</key>
			<array>
				<string>KMY</string>
			</array>
			<key>nowosądecki</key>
			<array>
				<string>KNS</string>
			</array>
			<key>nowotarski</key>
			<array>
				<string>KNT</string>
			</array>
			<key>olkuski</key>
			<array>
				<string>KOL</string>
			</array>
			<key>oświęcimski</key>
			<array>
				<string>KOS</string>
			</array>
			<key>proszowicki</key>
			<array>
				<string>KPR</string>
			</array>
			<key>suski</key>
			<array>
				<string>KSU</string>
			</array>
			<key>tarnowski</key>
			<array>
				<string>KTA</string>
			</array>
			<key>tatrzański</key>
			<array>
				<string>KTT</string>
			</array>
			<key>wadowicki</key>
			<array>
				<string>KWA</string>
			</array>
			<key>wielicki</key>
			<array>
				<string>KWI</string>
			</array>
			<key>Kraków</key>
			<array>
				<string>KR</string>
				<string>KK</string>
			</array>
			<key>Nowy Sącz</key>
			<array>
				<string>KN</string>
			</array>
			<key>Tarnów</key>
			<array>
				<string>KT</string>
			</array>
		</dict>
		<key>Mazowieckie</key>
		<dict>
			<key>wyr</key>
			<array>
				<string>W</string>
				<string>A</string>
			</array>
			<key>białobrzeski</key>
			<array>
				<string>WBR</string>
			</array>
			<key>ciechanowski</key>
			<array>
				<string>WCI</string>
			</array>
			<key>garwoliński</key>
			<array>
				<string>WG</string>
			</array>
			<key>gostyniński</key>
			<array>
				<string>WGS</string>
			</array>
			<key>grodziski</key>
			<array>
				<string>WGM</string>
			</array>
			<key>grójecki</key>
			<array>
				<string>WGR</string>
			</array>
			<key>kozienicki</key>
			<array>
				<string>WKZ</string>
			</array>
			<key>legionowski</key>
			<array>
				<string>WL</string>
			</array>
			<key>lipski</key>
			<array>
				<string>WLI</string>
			</array>
			<key>łosicki</key>
			<array>
				<string>WLS</string>
			</array>
			<key>makowski</key>
			<array>
				<string>WMA</string>
			</array>
			<key>miński</key>
			<array>
				<string>WM</string>
			</array>
			<key>mławski</key>
			<array>
				<string>WML</string>
			</array>
			<key>nowodworski</key>
			<array>
				<string>WND</string>
			</array>
			<key>ostrołęcki</key>
			<array>
				<string>WOS</string>
			</array>
			<key>ostrowski</key>
			<array>
				<string>WOR</string>
			</array>
			<key>otwocki</key>
			<array>
				<string>WOT</string>
			</array>
			<key>piaseczyński</key>
			<array>
				<string>WPI</string>
				<string>WPA</string>
			</array>
			<key>płocki</key>
			<array>
				<string>WPL</string>
			</array>
			<key>płoński</key>
			<array>
				<string>WPN</string>
			</array>
			<key>pruszkowski</key>
			<array>
				<string>WPR</string>
				<string>WPP</string>
			</array>
			<key>przasnyski</key>
			<array>
				<string>WPZ</string>
			</array>
			<key>przysuski</key>
			<array>
				<string>WPY</string>
			</array>
			<key>pułtuski</key>
			<array>
				<string>WPU</string>
			</array>
			<key>radomski</key>
			<array>
				<string>WRA</string>
			</array>
			<key>siedlecki</key>
			<array>
				<string>WSI</string>
			</array>
			<key>sierpecki</key>
			<array>
				<string>WSE</string>
			</array>
			<key>sochaczewski</key>
			<array>
				<string>WSC</string>
			</array>
			<key>sokołowski</key>
			<array>
				<string>WSK</string>
			</array>
			<key>szydłowiecki</key>
			<array>
				<string>WSZ</string>
			</array>
			<key>warszawski zachodni</key>
			<array>
				<string>WZ</string>
			</array>
			<key>węgrowski</key>
			<array>
				<string>WWE</string>
			</array>
			<key>wołomiński</key>
			<array>
				<string>WWL</string>
				<string>WV</string>
			</array>
			<key>wyszkowski</key>
			<array>
				<string>WWY</string>
			</array>
			<key>zwoleński</key>
			<array>
				<string>WZW</string>
			</array>
			<key>żuromiński</key>
			<array>
				<string>WZU</string>
			</array>
			<key>żyrardowski</key>
			<array>
				<string>WZY</string>
			</array>
			<key>Ostrołęka</key>
			<array>
				<string>WO</string>
			</array>
			<key>Płock</key>
			<array>
				<string>WP</string>
			</array>
			<key>Radom</key>
			<array>
				<string>WR</string>
			</array>
			<key>Siedlce</key>
			<array>
				<string>WS</string>
			</array>
			<key>Warszawa Bemowo</key>
			<array>
				<string>WB</string>
			</array>
			<key>Warszawa Białołęka</key>
			<array>
				<string>WA</string>
			</array>
			<key>Warszawa Bielany</key>
			<array>
				<string>WD</string>
			</array>
			<key>Warszawa Mokotów</key>
			<array>
				<string>WE</string>
			</array>
			<key>Warszawa Ochota</key>
			<array>
				<string>WU</string>
			</array>
			<key>Warszawa Praga Południe</key>
			<array>
				<string>WF</string>
			</array>
			<key>Warszawa Praga Północ</key>
			<array>
				<string>WH</string>
			</array>
			<key>Warszawa Rembertów</key>
			<array>
				<string>WW</string>
			</array>
			<key>Warszawa Śródmieście</key>
			<array>
				<string>WI</string>
			</array>
			<key>Warszawa Targówek</key>
			<array>
				<string>WJ</string>
			</array>
			<key>Warszawa Ursus</key>
			<array>
				<string>WK</string>
			</array>
			<key>Warszawa Ursynów</key>
			<array>
				<string>WN</string>
			</array>
			<key>Warszawa Wawer</key>
			<array>
				<string>WT</string>
			</array>
			<key>Warszawa Wesoła</key>
			<array>
				<string>WX</string>
			</array>
			<key>Warszawa Wilanów</key>
			<array>
				<string>WW</string>
			</array>
			<key>Warszawa Włochy</key>
			<array>
				<string>WW</string>
			</array>
			<key>Warszawa Wola</key>
			<array>
				<string>WY</string>
			</array>
			<key>Warszawa Żoliborz</key>
			<array>
				<string>WX</string>
			</array>
		</dict>
		<key>Opolskie</key>
		<dict>
			<key>wyr</key>
			<array>
				<string>O</string>
			</array>
			<key>brzeski</key>
			<array>
				<string>OB</string>
			</array>
			<key>głubczycki</key>
			<array>
				<string>OGL</string>
			</array>
			<key>kędzierzyńsko-kozielski</key>
			<array>
				<string>OK</string>
			</array>
			<key>kluczborski</key>
			<array>
				<string>OKL</string>
			</array>
			<key>krapkowicki</key>
			<array>
				<string>OKR</string>
			</array>
			<key>namysłowski</key>
			<array>
				<string>ONA</string>
			</array>
			<key>nyski</key>
			<array>
				<string>ONY</string>
			</array>
			<key>oleski</key>
			<array>
				<string>OOL</string>
			</array>
			<key>opolski</key>
			<array>
				<string>OPO</string>
			</array>
			<key>prudnicki</key>
			<array>
				<string>OPR</string>
			</array>
			<key>strzelecki</key>
			<array>
				<string>OST</string>
			</array>
			<key>Opole</key>
			<array>
				<string>OP</string>
			</array>
		</dict>
		<key>Podkarpackie</key>
		<dict>
			<key>wyr</key>
			<array>
				<string>R</string>
				<string>Y</string>
			</array>
			<key>bieszczadzki</key>
			<array>
				<string>RBI</string>
			</array>
			<key>brzozowski</key>
			<array>
				<string>RBR</string>
			</array>
			<key>dębicki</key>
			<array>
				<string>RDE</string>
			</array>
			<key>jarosławski</key>
			<array>
				<string>RJA</string>
			</array>
			<key>jasielski</key>
			<array>
				<string>RJS</string>
			</array>
			<key>kolbuszowski</key>
			<array>
				<string>RKL</string>
			</array>
			<key>krośnieński</key>
			<array>
				<string>RKR</string>
			</array>
			<key>leski</key>
			<array>
				<string>RLS</string>
			</array>
			<key>leżajski</key>
			<array>
				<string>RLE</string>
			</array>
			<key>lubaczowski</key>
			<array>
				<string>RLU</string>
			</array>
			<key>łańcucki</key>
			<array>
				<string>RLA</string>
			</array>
			<key>mielecki</key>
			<array>
				<string>RMI</string>
			</array>
			<key>niżański</key>
			<array>
				<string>RNI</string>
			</array>
			<key>przemyski</key>
			<array>
				<string>RPR</string>
			</array>
			<key>przeworski</key>
			<array>
				<string>RPZ</string>
			</array>
			<key>ropczycko-sędziszowski</key>
			<array>
				<string>RRS</string>
			</array>
			<key>rzeszowski</key>
			<array>
				<string>RZE</string>
				<string>RZZ</string>
			</array>
			<key>sanocki</key>
			<array>
				<string>RSA</string>
			</array>
			<key>stalowowolski</key>
			<array>
				<string>RST</string>
			</array>
			<key>strzyżowski</key>
			<array>
				<string>RSR</string>
			</array>
			<key>tarnobrzeski</key>
			<array>
				<string>RTA</string>
			</array>
			<key>Krosno</key>
			<array>
				<string>RK</string>
			</array>
			<key>Przemyśl</key>
			<array>
				<string>RP</string>
			</array>
			<key>Rzeszów</key>
			<array>
				<string>RZ</string>
			</array>
			<key>Tarnobrzeg</key>
			<array>
				<string>RT</string>
			</array>
		</dict>
		<key>Podlaskie</key>
		<dict>
			<key>wyr</key>
			<array>
				<string>B</string>
			</array>
			<key>augustowski</key>
			<array>
				<string>BAU</string>
			</array>
			<key>białostocki</key>
			<array>
				<string>BIA</string>
			</array>
			<key>bielski</key>
			<array>
				<string>BBI</string>
			</array>
			<key>grajewski</key>
			<array>
				<string>BGR</string>
			</array>
			<key>hajnowski</key>
			<array>
				<string>BHA</string>
			</array>
			<key>kolneński</key>
			<array>
				<string>BKL</string>
			</array>
			<key>łomżyński</key>
			<array>
				<string>BLM</string>
			</array>
			<key>moniecki</key>
			<array>
				<string>BMN</string>
			</array>
			<key>sejneński</key>
			<array>
				<string>BSE</string>
			</array>
			<key>siemiatycki</key>
			<array>
				<string>BSI</string>
			</array>
			<key>sokólski</key>
			<array>
				<string>BSK</string>
			</array>
			<key>suwalski</key>
			<array>
				<string>BSU</string>
			</array>
			<key>wysokomazowiecki</key>
			<array>
				<string>BWM</string>
			</array>
			<key>zambrowski</key>
			<array>
				<string>BZA</string>
			</array>
			<key>Białystok</key>
			<array>
				<string>BI</string>
			</array>
			<key>Łomża</key>
			<array>
				<string>BL</string>
			</array>
			<key>Suwałki</key>
			<array>
				<string>BS</string>
			</array>
		</dict>
		<key>Pomorskie</key>
		<dict>
			<key>wyr</key>
			<array>
				<string>G</string>
				<string>X</string>
			</array>
			<key>bytowski</key>
			<array>
				<string>GBY</string>
			</array>
			<key>chojnicki</key>
			<array>
				<string>GCH</string>
			</array>
			<key>człuchowski</key>
			<array>
				<string>GCZ</string>
			</array>
			<key>gdański</key>
			<array>
				<string>GDA</string>
			</array>
			<key>kartuski</key>
			<array>
				<string>GKA</string>
				<string>GKY</string>
			</array>
			<key>kościerski</key>
			<array>
				<string>GKS</string>
			</array>
			<key>kwidzyński</key>
			<array>
				<string>GKW</string>
			</array>
			<key>lęborski</key>
			<array>
				<string>GLE</string>
			</array>
			<key>malborski</key>
			<array>
				<string>GMB</string>
			</array>
			<key>nowodworski</key>
			<array>
				<string>GND</string>
			</array>
			<key>pucki</key>
			<array>
				<string>GPU</string>
			</array>
			<key>słupski</key>
			<array>
				<string>GSL</string>
			</array>
			<key>starogardzki</key>
			<array>
				<string>GST</string>
			</array>
			<key>sztumski</key>
			<array>
				<string>GSZ</string>
			</array>
			<key>tczewski</key>
			<array>
				<string>GTC</string>
			</array>
			<key>wejherowski</key>
			<array>
				<string>GWE</string>
				<string>GWO</string>
			</array>
			<key>Gdańsk</key>
			<array>
				<string>GD</string>
			</array>
			<key>Gdynia</key>
			<array>
				<string>GA</string>
			</array>
			<key>Słupsk</key>
			<array>
				<string>GS</string>
			</array>
			<key>Sopot</key>
			<array>
				<string>GSP</string>
			</array>
		</dict>
		<key>Śląskie</key>
		<dict>
			<key>wyr</key>
			<array>
				<string>S</string>
				<string>I</string>
			</array>
			<key>będziński</key>
			<array>
				<string>SBE</string>
			</array>
			<key>bielski</key>
			<array>
				<string>SBI</string>
			</array>
			<key>bieruńsko-lędziński</key>
			<array>
				<string>SBL</string>
			</array>
			<key>cieszyński</key>
			<array>
				<string>SCI</string>
				<string>SCN</string>
			</array>
			<key>częstochowski</key>
			<array>
				<string>SCZ</string>
			</array>
			<key>gliwicki</key>
			<array>
				<string>SGL</string>
			</array>
			<key>kłobucki</key>
			<array>
				<string>SKL</string>
			</array>
			<key>lubliniecki</key>
			<array>
				<string>SLU</string>
			</array>
			<key>mikołowski</key>
			<array>
				<string>SMI</string>
			</array>
			<key>myszkowski</key>
			<array>
				<string>SMY</string>
			</array>
			<key>pszczyński</key>
			<array>
				<string>SPS</string>
			</array>
			<key>raciborski</key>
			<array>
				<string>SRC</string>
			</array>
			<key>rybnicki</key>
			<array>
				<string>SRB</string>
			</array>
			<key>tarnogórski</key>
			<array>
				<string>STA</string>
			</array>
			<key>wodzisławski</key>
			<array>
				<string>SWD</string>
			</array>
			<key>zawierciański</key>
			<array>
				<string>SZA</string>
			</array>
			<key>żywiecki</key>
			<array>
				<string>SZY</string>
			</array>
			<key>Bielsko-Biała</key>
			<array>
				<string>SB</string>
			</array>
			<key>Bytom</key>
			<array>
				<string>SY</string>
			</array>
			<key>Chorzów</key>
			<array>
				<string>SH</string>
			</array>
			<key>Częstochowa</key>
			<array>
				<string>SC</string>
			</array>
			<key>Dąbrowa Górnicza</key>
			<array>
				<string>SD</string>
			</array>
			<key>Gliwice</key>
			<array>
				<string>SGL</string>
			</array>
			<key>Jastrzębie-Zdrój</key>
			<array>
				<string>SJZ</string>
			</array>
			<key>Jaworzno</key>
			<array>
				<string>SJ</string>
			</array>
			<key>Katowice</key>
			<array>
				<string>SK</string>
			</array>
			<key>Mysłowice</key>
			<array>
				<string>SM</string>
			</array>
			<key>Piekary Śląskie</key>
			<array>
				<string>SPI</string>
			</array>
			<key>Ruda Śląska</key>
			<array>
				<string>SL</string>
				<string>SRS</string>
			</array>
			<key>Rybnik</key>
			<array>
				<string>SR</string>
			</array>
			<key>Siemianowice Śląskie</key>
			<array>
				<string>SI</string>
			</array>
			<key>Sosnowiec</key>
			<array>
				<string>SO</string>
			</array>
			<key>Świętochłowice</key>
			<array>
				<string>SW</string>
			</array>
			<key>Tychy</key>
			<array>
				<string>ST</string>
			</array>
			<key>Zabrze</key>
			<array>
				<string>SZ</string>
			</array>
			<key>Żory</key>
			<array>
				<string>SZO</string>
			</array>
		</dict>
		<key>Świętokrzyskie</key>
		<dict>
			<key>wyr</key>
			<array>
				<string>T</string>
			</array>
			<key>buski</key>
			<array>
				<string>TBU</string>
			</array>
			<key>jędrzejowski</key>
			<array>
				<string>TJE</string>
			</array>
			<key>kazimierski</key>
			<array>
				<string>TKA</string>
			</array>
			<key>kielecki</key>
			<array>
				<string>TKI</string>
			</array>
			<key>konecki</key>
			<array>
				<string>TKN</string>
			</array>
			<key>opatowski</key>
			<array>
				<string>TOP</string>
			</array>
			<key>ostrowiecki</key>
			<array>
				<string>TOS</string>
			</array>
			<key>pińczowski</key>
			<array>
				<string>TPI</string>
			</array>
			<key>sandomierski</key>
			<array>
				<string>TSA</string>
			</array>
			<key>skarżyski</key>
			<array>
				<string>TSK</string>
			</array>
			<key>starachowicki</key>
			<array>
				<string>TST</string>
			</array>
			<key>staszowski</key>
			<array>
				<string>TSZ</string>
			</array>
			<key>włoszczowski</key>
			<array>
				<string>TLW</string>
			</array>
			<key>Kielce</key>
			<array>
				<string>TK</string>
			</array>
		</dict>
		<key>Warmińsko-Mazurskie</key>
		<dict>
			<key>wyr</key>
			<array>
				<string>N</string>
			</array>
			<key>bartoszycki</key>
			<array>
				<string>NBA</string>
			</array>
			<key>braniewski</key>
			<array>
				<string>NBR</string>
			</array>
			<key>działdowski</key>
			<array>
				<string>NDZ</string>
			</array>
			<key>elbląski</key>
			<array>
				<string>NEB</string>
			</array>
			<key>ełcki</key>
			<array>
				<string>NEL</string>
			</array>
			<key>giżycki</key>
			<array>
				<string>NGI</string>
			</array>
			<key>gołdapski</key>
			<array>
				<string>NGO</string>
			</array>
			<key>iławski</key>
			<array>
				<string>NIL</string>
			</array>
			<key>kętrzyński</key>
			<array>
				<string>NKE</string>
			</array>
			<key>lidzbarski</key>
			<array>
				<string>NLI</string>
			</array>
			<key>mrągowski</key>
			<array>
				<string>NMR</string>
			</array>
			<key>nidzicki</key>
			<array>
				<string>NNI</string>
			</array>
			<key>nowomiejski</key>
			<array>
				<string>NNM</string>
			</array>
			<key>olecki</key>
			<array>
				<string>NOE</string>
			</array>
			<key>olsztyński</key>
			<array>
				<string>NOL</string>
			</array>
			<key>ostródzki</key>
			<array>
				<string>NOS</string>
			</array>
			<key>piski</key>
			<array>
				<string>NPI</string>
			</array>
			<key>szczycieński</key>
			<array>
				<string>NSZ</string>
			</array>
			<key>węgorzewski</key>
			<array>
				<string>NWE</string>
			</array>
			<key>Elbląg</key>
			<array>
				<string>NE</string>
			</array>
			<key>Olsztyn</key>
			<array>
				<string>NO</string>
			</array>
		</dict>
		<key>Wielkopolskie</key>
		<dict>
			<key>wyr</key>
			<array>
				<string>P</string>
				<string>M</string>
			</array>
			<key>chodzieski</key>
			<array>
				<string>PCH</string>
			</array>
			<key>czarnkowsko-trzcianecki</key>
			<array>
				<string>PCT</string>
			</array>
			<key>gnieźnieński</key>
			<array>
				<string>PGN</string>
			</array>
			<key>gostyński</key>
			<array>
				<string>PGS</string>
			</array>
			<key>grodziski</key>
			<array>
				<string>PGO</string>
			</array>
			<key>jarociński</key>
			<array>
				<string>PJA</string>
			</array>
			<key>kaliski</key>
			<array>
				<string>PKA</string>
			</array>
			<key>kępiński</key>
			<array>
				<string>PKE</string>
			</array>
			<key>kolski</key>
			<array>
				<string>PKL</string>
			</array>
			<key>koniński</key>
			<array>
				<string>PKN</string>
			</array>
			<key>kościański</key>
			<array>
				<string>PKS</string>
			</array>
			<key>krotoszyński</key>
			<array>
				<string>PKR</string>
			</array>
			<key>leszczyński</key>
			<array>
				<string>PLE</string>
			</array>
			<key>międzychodzki</key>
			<array>
				<string>PMI</string>
			</array>
			<key>nowotomyski</key>
			<array>
				<string>PNT</string>
			</array>
			<key>obornicki</key>
			<array>
				<string>POB</string>
			</array>
			<key>ostrowski</key>
			<array>
				<string>POS</string>
			</array>
			<key>ostrzeszowski</key>
			<array>
				<string>POT</string>
			</array>
			<key>pilski</key>
			<array>
				<string>PP</string>
			</array>
			<key>pleszewski</key>
			<array>
				<string>PPL</string>
			</array>
			<key>poznański</key>
			<array>
				<string>POZ</string>
				<string>PZ</string>
			</array>
			<key>rawicki</key>
			<array>
				<string>PRA</string>
			</array>
			<key>słupecki</key>
			<array>
				<string>PSL</string>
			</array>
			<key>szamotulski</key>
			<array>
				<string>PSZ</string>
			</array>
			<key>średzki</key>
			<array>
				<string>PSR</string>
			</array>
			<key>śremski</key>
			<array>
				<string>PSE</string>
			</array>
			<key>turecki</key>
			<array>
				<string>PTU</string>
			</array>
			<key>wągrowiecki</key>
			<array>
				<string>PWA</string>
			</array>
			<key>wolsztyński</key>
			<array>
				<string>PWL</string>
			</array>
			<key>wrzesiński</key>
			<array>
				<string>PWR</string>
			</array>
			<key>złotowski</key>
			<array>
				<string>PZL</string>
			</array>
			<key>Kalisz</key>
			<array>
				<string>PK</string>
			</array>
			<key>Konin</key>
			<array>
				<string>PN</string>
				<string>PKO</string>
			</array>
			<key>Leszno</key>
			<array>
				<string>PL</string>
			</array>
			<key>Poznań</key>
			<array>
				<string>PO</string>
				<string>PY</string>
			</array>
		</dict>
		<key>Zachodniopomorskie</key>
		<dict>
			<key>wyr</key>
			<array>
				<string>Z</string>
			</array>
			<key>białogardzki</key>
			<array>
				<string>ZBI</string>
			</array>
			<key>choszczeński</key>
			<array>
				<string>ZCH</string>
			</array>
			<key>drawski</key>
			<array>
				<string>ZDR</string>
			</array>
			<key>goleniowski</key>
			<array>
				<string>ZGL</string>
			</array>
			<key>gryficki</key>
			<array>
				<string>ZGY</string>
			</array>
			<key>gryfiński</key>
			<array>
				<string>ZGR</string>
			</array>
			<key>kamieński</key>
			<array>
				<string>ZKA</string>
			</array>
			<key>kołobrzeski</key>
			<array>
				<string>ZKL</string>
			</array>
			<key>koszaliński</key>
			<array>
				<string>ZKO</string>
			</array>
			<key>łobeski</key>
			<array>
				<string>ZLO</string>
			</array>
			<key>myśliborski</key>
			<array>
				<string>ZMY</string>
			</array>
			<key>policki</key>
			<array>
				<string>ZPL</string>
			</array>
			<key>pyrzycki</key>
			<array>
				<string>ZPY</string>
			</array>
			<key>sławieński</key>
			<array>
				<string>ZSL</string>
			</array>
			<key>stargardzki</key>
			<array>
				<string>ZST</string>
			</array>
			<key>szczecinecki</key>
			<array>
				<string>ZSZ</string>
			</array>
			<key>świdwiński</key>
			<array>
				<string>ZSD</string>
			</array>
			<key>wałecki</key>
			<array>
				<string>ZWA</string>
			</array>
			<key>Koszalin</key>
			<array>
				<string>ZK</string>
			</array>
			<key>Szczecin</key>
			<array>
				<string>ZS</string>
			</array>
			<key>Świnoujście</key>
			<array>
				<string>ZSW</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
